body, html {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (prefers-color-scheme: dark) {
    body, html {
        background-color: var(--bs-dark);
    }
}

